.footer{
    display: flex;
    justify-content: center;
    margin: 1em;
    border-top: 1px solid rgba(255, 255, 255, 0.3);;
}

.footer_flex{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 1em;
}

.footer_container{
    color: #fff;
    padding: 1em;
}

.footer_ul{
    list-style-type: none;
    margin: 0 1em;
}

.footer_li{
    font-weight: 500;
    cursor: pointer;
    margin: 10px;
}

.footer_copyright{
    text-align: center;
    padding: 1em;
}